# Database credentials
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpasswd
POSTGRES_DB=dbname

# Vault
VAULT_TOKEN=myroot
VAULT_ADDR=http://vault:port

# Dashboard
DASHBOARD_USER=user
DASHBOARD_PASSWORD=passwd
SMTP_USER=email@gmail.com
SMTP_PASSWORD=gmail_smpt_key
REPORT_EMAIL_TO=email@gmail.com

# Anthropic AI
ANTHROPIC_API_KEY=ai_key
